# Essential Web & API Libraries for Vercel
fastapi
uvicorn[standard]
jinja2
python-multipart
itsdangerous
starlette
requests
python-dotenv
loguru

# Google & AI (The "Cloud Brain")
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-generativeai

# Database
psycopg2-binary
sqlalchemy

# AI Search & PDF
pdfplumber
chromadb
sentence-transformers
langchain
langchain-core
langchain-community
pypdf
torch --index-url https://download.pytorch.org/whl/cpu
numpy
reportlab
omegaconf
